header {
    color: white;
    background: #000000;
}

.navigation {
    background: #000000;
}

.content-container {
    margin-bottom: 100px; /* Añade margen en la parte inferior para empujar el footer hacia abajo */
}

.span1 {
    background-color:#808080;
}

.enlaces {
    color:white;
}

    .enlaces:hover {
        color:#808080;
    }


/* Estilos del footer */
footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    top: 100%; /* Lo posiciona después del contenido */
}

    footer p {
        font-size: 14px;
        margin: 5px 0;
    }

/* Redes sociales */
.social-icons {
    margin-top: 10px;
}

    .social-icons a {
        margin: 0 10px;
    }

/* Estilos para el contenido de la página */
.content-container {
    /* Añade un relleno en la parte inferior para empujar el footer hacia abajo */
    padding-bottom: 100px; /* Ajusta el valor según tu diseño */
}
