header {
    color: white;
    background: #000000;
}

.navigation {
    background: #000000;
}

.content-container{
    margin-top:20px;
}

.span1 {
    background-color:#808080;
}

.enlaces {
    color:white;
}

    .enlaces:hover {
        color:#808080;
    }


/*Estilos del footer*/
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}

    footer p {
        font-size: 14px;
        margin: 5px 0; /* Añade un margen vertical */
    }

/* Redes sociales */
.social-icons {
    margin-top: 10px;
}

    .social-icons a {
        margin: 0 10px; /* Espacio entre iconos de redes sociales */
    }